
.html-about {
	margin-left: 20%;
	max-width: 60%;
	font-family: "Times New Roman", Times, serif;
	background-color: #D9AFD9;
	background-image: linear-gradient(0deg, #edc7ed 0%, #97D9E1 100%);

}

.about .byline {
	font-style: italic;
	border-bottom: 1px solid #000;
}

.about #portrait {
	max-height: 300px;
	margin-right: 40%;
}

.about .image {
	font-size: 12px;
	font-style: italic;
	margin-left:40%;
}


.html-homepage {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: white;
    color: #393E41;

}


.innpakning {
    width: 70%;
    border-radius: 5px;
    margin: auto;

}

.content-div .div5 img {

  width: 100%;
}




  

