
.homepage {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: white;
    color: #393E41;

}


.innpakning {
    width: 70%;
    border-radius: 5px;
    margin: auto;


}


ul li ul li {
  list-style: none;
}





  

